<h1>Listing employees</h1>

<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Department</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.first %></td>
    <td><%= employee.last %></td>
    <td><%= employee.department_id %></td>
    <td><%= employee.title %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
